.content {
  background: $main-background-color;
}

.content__title {
  color: $content-title-color;
  font-weight: 700;
  padding: $spacing-base 0 $spacing-quarter;
}


.content__jibberish {
  font-size: 0;
}

.content__jibberish--at:after {
  content: '@';
  font-size: 1rem;
}

.content__jibberish--dot:after {
  content: '.';
  font-size: 1rem;
}