.layout {
  @media #{$media-enhanced} {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.layout__section {
  padding: $spacing-base;
  @media #{$media-enhanced} {
    &.layout__section--wide  {
      grid-column-start: 1;
      grid-column-end: span 2;
    }
  }
}
