$pagehead-shadow: 0 0 1rem #ffffff;

.page-head {
  background-color: $sky;
  background-image: url('../img/me.jpg');
  background-size: contain;
  background-position: 0 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

.page-head__title {
  color: #ffffff;
  font-family: 'Rock Salt', sans-serif;
  font-size: $font-size-title;
  padding: $spacing-double;
  text-align: center;
  text-shadow: $pagehead-shadow;
}

.page-head__subtitle {
  color: #ffffff;
  font-size: $spacing-base;
  padding: $spacing-double;
  text-align: center;
  text-shadow: $pagehead-shadow;
  @media screen and (min-width: 320px) {
    bottom: 50%;
    font-size: $font-size-subtitle;
    position: absolute;
    right: $spacing-base;
    text-align: right;
    width: 50%;
  }
}

.page-head__hyphened-word {
  white-space: nowrap;
}

.page-head__arrow {
  $arrow-height: 1rem;

  background: url("../img/arrow.png") no-repeat center;
  background-size: contain;
  bottom: $spacing-base;
  height: $arrow-height;
  margin: 0 auto;
  position: absolute;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .page-head__arrow {
    display: none;
  }
}
