.review {
  @media #{$media-enhanced} {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.review__text {
  font-family: 'Merriweather', serif;
  font-style: italic;
  margin: $spacing-base 0;
  @media #{$media-enhanced} {
    margin: 0;
  }
}

.review__author {
  grid-row-start: 2;
  margin-top: $spacing-half;
}
