@import "reset.scss";

@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Merriweather:300i|Roboto+Condensed:300,300i,700');

$viewport-enhanced: 900px;
$media-enhanced: "screen and (min-width: #{$viewport-enhanced}), print";

$spacing-base: 1rem;
$spacing-half: $spacing-base / 2;
$spacing-quarter: $spacing-base / 4;
$spacing-double: 2 * $spacing-base;

$font-family-title: 'Amatic SC', cursive;
$font-family-text: 'Roboto Condensed', sans-serif;
$font-family-quote: 'Merriweather', serif;
$font-size-h1: 48pt;
$font-size-h2: 24pt;
$font-size-text: 11pt;

$red: #ee1050;
$sky: #6691da;

$content-title-color: $red;
$links-color: $sky;
$links-active-color: $red;

@import "body.scss";
@import "layout.scss";
@import "typo.scss";
@import "list.scss";
@import "footer.scss";
@import "review.scss";

a, a:active, a:visited {
  color: $links-color;
  text-decoration: none;
  transition: color 0.5s;
}

a:hover {
  color: $links-active-color;
}
